{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0">
      <span class="text-gradient d-inline">Resume</span>
    </h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Experience Section -->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-primary fw-bolder mb-0">Experience</h2>
          <a class="btn btn-primary px-4 py-3" href="#!">
            <div class="d-inline-block bi bi-download me-2"></div>
            Download Resume
          </a>
        </div>

        <!-- Experience Card -->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2024 - Present</div>
                  <div class="small fw-bolder">
                    College Assignment Project Leader & Enthusiastic Learner
                  </div>
                  <div class="small text-muted">
                    Self-Managed Learning & Fellowship Participation
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <ul class="list-unstyled">
                  <li>
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 mb-3"
                    >
                      Led group assignments in college, coordinating tasks and
                      ensuring quality submissions.
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 mb-3"
                    >
                      Completed classes in HTML, CSS, JavaScript, Python, and
                      Django and applied knowledge in projects.
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 mb-3"
                    >
                      Participated actively in fellowship programs, enhancing
                      teamwork and communication skills.
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 mb-3"
                    >
                      Committed to becoming a strong team coordinator and leader
                      as I gain more experience.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Education Section -->
      <section>
        <h2 class="text-secondary fw-bolder mb-4">Education</h2>
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">
                    Currently Studying
                  </div>
                  <div class="mb-2">
                    <div class="small fw-bolder">
                      Padmakanya Multiple Campus, 6th Semester
                    </div>
                    <div class="small text-muted">Bagar Bazaar</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Currently pursuing Bachelor's degree. Focus on Web
                  Development, Python, Django, and DSA basics.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">Completed +2</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">Oxford College</div>
                    <div class="small text-muted">Butwal</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">GPA 3.53</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>
                  Completed higher secondary education with focus on science and
                  mathematics.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Skills Section -->
      <section>
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-tools"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline">Technical Skills</span>
                </h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    HTML
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    CSS
                  </div>
                </div>
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    JavaScript
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Python
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Django
                  </div>
                </div>
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Postman & API Testing
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    Data Structures & Algorithms
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
